[submodule "libmimalloc-sys/c_src/mimalloc"]
	path = libmimalloc-sys/c_src/mimalloc
	url = https://github.com/microsoft/mimalloc
[submodule "libmimalloc-sys/c_src/mimalloc-v3"]
	path = libmimalloc-sys/c_src/mimalloc-v3
	url = https://github.com/microsoft/mimalloc.git
